$bgColor: #f1f4fd;
$darkBlack: #0e0e10;
$black: #1b1b1f;
$darkGray: #111827;
$gray: #55555c;
$lightGray: #f0f0f7;
$darkGreen: #16b240;
$green: #24c14e;
$lightGreen: #33d35e;
$whiteGreen: #c3fcd2;
$inputBorderColor: #d3d3de;

$darkRed: #852222;
$errorColor: #e71313;
$highlight: #efa501;
